/* global settings */
html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.25;
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
}

h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

h6 {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}

/* section properties */
#deezer-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#top-section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#main {
  padding: 86px;
  padding-bottom: 0;
  overflow: auto;
  height: auto;
  flex-grow: 1;
}

#player {
  border-style: solid;
  border-width: 1px;
  border-color: #E5E7EB;
  height: 80px;
  margin-top: auto;
  display: flex;
  align-items: center;
}

#queue {
  background-color: #F3F4F6;
  border-style: solid;
  border-width: 1px;
  border-color: #E5E7EB;
  width: 330px;
  display: flex;
  flex-direction: column;
}

/* item properties */
#playlist-info {
  margin-bottom: 48px;
  display: flex;
}

#playlist-details {
  margin-left: 32px;
  align-self: flex-end;
}

#current-song {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#button-list {
  position: absolute;
  left: 50%;

}

#deezer-section{
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-left: auto;
}

#queue-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#play-next{
  margin-top: 32px;
  margin-left: 32px;
}

#empty-queue {
  color: #9CA3AF;
  text-align: center;
  align-self: center;
}

#deezer-logo {
  width: 150px;
  height: 30px;
}

#player-div {
  display: flex;
}

#playlist-img {
  width: 250px;
  height: 250px;
}

#player-img {
  width: 79px;
  height: 79px;
  margin-right: 16px;
}

.song {
  margin-bottom: 32px;
  margin-left: 16px;
}

.buttons {
  width: 40px;
  height: 40px;
}

#pause-btn {
  margin-left: 32px;
  margin-right: 32px;
}
